.homeButton {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: var(--btn-bgHover-color);
}

.formButton {
    padding: 0.2rem;
    font-size: 1rem;
    color: var(--btn-text-color);
    background-color: var(--btnMini-bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.formButton:hover {
    background-color: var(--btnMini-bgHover-color);
}

