:root {
    --input-bg-color: #505050;
    --input-border-color: #383838;
    --bg-color: #f6f6f6;
    --btn-bg-color: #3498db;
    --btn-bgHover-color: #2980b9;
    --btn-text-color: #fff;
    --border-color: #cbcbcb;
    --border-radius: 6px;
}